<!doctype html>
<html lang="en">
<head>
	<title>TCC 2014 APIs: Agile Powerful Intuitive</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/tcc_api.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/aboutcompany.css">
	<script src="http://mkovner-vm/javascripts/api/tableau_v8.debug.js"></script>
</head>
<body class='body-main'>
	<nav class="navbar navbar-inverse" role="navigation">
		<a class='navbar-brand'><img src="/images/tableau_small.png"></a>
		<h1 class='navbar-text'>TCC</h3>
		<ul class="nav navbar-nav">
			<li class='active'><a href='#'>About</a></li>
			<li><a href='/analyze'>Analyze your Own Data</a></li>		
		</ul>
		<p class="navbar-text navbar-right">Signed in as <%=user%></p>
	</nav>
	<div class="main">
		<div id="myVizContainer"></div>
	</div>
	<script type="text/javascript">
		ticket = '<%=ticket%>';
	</script>
	<script type="text/javascript" src="/javascripts/aboutcompany.js"></script>
</body>
</html>