<!doctype html>
<html lang="en">
<head>
	<title>TCC 2014 APIs: Agile Powerful Intuitive</title>
    <script src="./js/dropzone.js"></script>
    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
       
    <link rel="stylesheet" type="text/css" href="/stylesheets/tcc_api.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/tcc_api.css">
    
</head>
<body class='body-main'>
	<nav class="navbar navbar-inverse" role="navigation">
		<a class='navbar-brand'><img src="/images/CerebralBrainSmall.png"></a>
		<!--<h1 class='navbar-text'>Cerebral Games</h3>-->
		<ul class="nav navbar-nav">
			<li><a href='/about'>About</a></li>
			<li class='active'><a href='#'>Analyze your Own Data</a></li>		
		</ul>
		<p class="navbar-text navbar-right">Signed in as <%=user%></p>
	</nav>
	<div class="main" id="mainDiv">
		<h2 class="analyzeSubheader" >Add a new data source, or launch web authoring.</h2>
        <div id="dropzone">
          <form action="/uploadfile" id="demo-upload" >  
              <input type="hidden" name="userName" value="user"/>
              <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
          </form>
        </div>
        <div class="datasource">
            These are the data sources on your server. <b>Click</b> one to author a new workbook.
          <ul class="analyzeList">            
              <% datasource.forEach(function(datasources){ %>      
                  <li class="analyzeListItem" onclick="launchDesigner(this.innerHTML)">
                      <%=datasources%>
                  </li>          
              <% }); %>
           </ul>
        </div>
        
	</div>
</body>
    <script type="text/javascript"> 
        $(function(){
            var myDropzone = new Dropzone("form#demo-upload");
            $("form#demo-upload").addClass("dropzone");
            myDropzone.on("complete", function(file) {
                console.log ("Time to kick of TDE API for " + file.name);
                //Tickle the /processfile route to process the file and upload it
                $.get( "/processfile?fileName="+file.name, function( data ) {
                  //When processing is complete on the server, reload the page
                  location.reload(true)
                });
                
            });
        });
        
        function launchDesigner(li){
            // remove spaces, single quotes and parenthesis - you may need to do more of this. 
            var dataSourceTarget = li.replace(/[\s'()]+/g, "");;
            // Get rid of other UI
            $('#mainDiv').empty();
            // Get a trusted ticker via app's built in route handler
            $.get( "/trustedticket?user=<%=user%>"  , function( data ) {
              // Add frame to page instead
              var iframe = $('<iframe class="vizFrame" src="http://winTableau/trusted/' + data + '/t/rest/authoringNewWorkbook/' + dataSourceTarget + '" frameborder="0" scrolling="no" id="myFrame"></iframe>');
              $('#mainDiv').append(iframe);    
            });

        }
        
        </script>
</html>